flows.json
[
    {
        "id": "a937040c5ab424c9",
        "type": "tab",
        "label": "Final Intelligent Crop System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "74d34ba531cc49c5",
        "type": "inject",
        "z": "a937040c5ab424c9",
        "name": "Tick 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "58a4750b1ff7f044"
            ]
        ]
    },
    {
        "id": "58a4750b1ff7f044",
        "type": "function",
        "z": "a937040c5ab424c9",
        "name": "Virtual NPKM Sensor",
        "func": "msg.payload = {\n    N: Math.floor(Math.random() * 100),\n    P: Math.floor(Math.random() * 60),\n    K: Math.floor(Math.random() * 60),\n    M: Math.floor(Math.random() * 100)\n};\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "74c54a9595dc2c09",
                "aabae0368a07e835"
            ]
        ]
    },
    {
        "id": "aabae0368a07e835",
        "type": "change",
        "z": "a937040c5ab424c9",
        "name": "Get Moisture",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.M",
                "tot": "msg"
            }
        ],
        "x": 530,
        "y": 60,
        "wires": [
            [
                "98b36577e68419bf"
            ]
        ]
    },
    {
        "id": "74c54a9595dc2c09",
        "type": "json",
        "z": "a937040c5ab424c9",
        "name": "Stringify",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "38817190e1b41da2"
            ]
        ]
    },
    {
        "id": "38817190e1b41da2",
        "type": "pythonshell in",
        "z": "a937040c5ab424c9",
        "name": "AI Classifier",
        "pyfile": "D:\\mydoc\\my_solutions\\Intelligent_Crop_Health_Classifier\\predict.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": true,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "be344cc0d35fe552"
            ]
        ]
    },
    {
        "id": "be344cc0d35fe552",
        "type": "json",
        "z": "a937040c5ab424c9",
        "name": "Parse",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "6850f818c3fc5a1a",
                "d3edec0ef4d0b9af",
                "7f1aa5a9b2a490e0",
                "2bc034755e808da9"
            ]
        ]
    },
    {
        "id": "6850f818c3fc5a1a",
        "type": "switch",
        "z": "a937040c5ab424c9",
        "name": "Irrigation & Nutrient Logic",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Dry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Needs_N",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Waterlogged",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Optimal",
                "vt": "str"
            }
        ],
        "repair": false,
        "outputs": 4,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "c5f4641b48c62d1f"
            ],
            [
                "070c610802507c84"
            ],
            [
                "47945a3aa1461053"
            ],
            [
                "cffdf386d0be6d55"
            ]
        ]
    },
    {
        "id": "c5f4641b48c62d1f",
        "type": "debug",
        "z": "a937040c5ab424c9",
        "name": "[ACTUATOR] - Water Pump ON",
        "active": true,
        "complete": "payload",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "070c610802507c84",
        "type": "debug",
        "z": "a937040c5ab424c9",
        "name": "[ACTUATOR] - Nitrogen Injector ON",
        "active": true,
        "complete": "payload",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "47945a3aa1461053",
        "type": "debug",
        "z": "a937040c5ab424c9",
        "name": "[ALARM] - Waterlogged Drainage ON",
        "active": true,
        "complete": "payload",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "cffdf386d0be6d55",
        "type": "debug",
        "z": "a937040c5ab424c9",
        "name": "[STATUS] - Soil Health Optimal",
        "active": true,
        "complete": "payload",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "d3edec0ef4d0b9af",
        "type": "ui_text",
        "z": "a937040c5ab424c9",
        "group": "ui_group_main",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AI Diagnosis: ",
        "format": "{{msg.payload.status}}",
        "layout": "row-spread",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "98b36577e68419bf",
        "type": "ui_gauge",
        "z": "a937040c5ab424c9",
        "name": "",
        "group": "ui_group_main",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Soil Moisture",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "2624edb754d1935b",
        "type": "ui_chart",
        "z": "a937040c5ab424c9",
        "name": "",
        "group": "ui_group_main",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "AI Bottleneck Analysis",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 820,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7f1aa5a9b2a490e0",
        "type": "change",
        "z": "a937040c5ab424c9",
        "name": "Extract Bottlenecks",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.bottlenecks",
                "tot": "msg"
            }
        ],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "2624edb754d1935b"
            ]
        ]
    },
    {
        "id": "2bc034755e808da9",
        "type": "ui_template",
        "z": "a937040c5ab424c9",
        "group": "ui_group_main",
        "name": "AI Recommendation Engine",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div ng-if=\"msg.payload.status === 'Needs_N'\"\n    style=\"background-color: #fff9c4; padding: 15px; border-radius: 10px; border: 2px solid #fbc02d; color: #444;\">\n    <h3 style=\"margin: 0; color: #f57f17;\">⚠️ AI Action Required</h3>\n    <p style=\"margin: 10px 0 0 0; font-size: 1.1em;\">\n        <b>Diagnosis:</b> Low Nitrogen detected.<br>\n        <b>Recommendation:</b> Activate fertigation valve for 15 minutes.\n    </p>\n</div>\n\n<div ng-if=\"msg.payload.status === 'Dry'\"\n    style=\"background-color: #ffecb3; padding: 15px; border-radius: 10px; border: 2px solid #ffb300; color: #444;\">\n    <h3 style=\"margin: 0; color: #e65100;\">💧 Irrigation Alert</h3>\n    <p style=\"margin: 10px 0 0 0; font-size: 1.1em;\">\n        <b>Recommendation:</b> Activate primary water pump.\n    </p>\n</div>\n\n<div ng-if=\"msg.payload.status === 'Optimal'\"\n    style=\"background-color: #e8f5e9; padding: 15px; border-radius: 10px; border: 2px solid #4caf50; color: #2e7d32;\">\n    <h3 style=\"margin: 0;\">✅ System Normal</h3>\n    <p style=\"margin: 10px 0 0 0;\">Field conditions are optimal. No action needed.</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_group_main",
        "type": "ui_group",
        "name": "Live Field Monitor",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Crop Health Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "8a7f7ed13878f681",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-pythonshell": "1.5.4",
            "node-red-dashboard": "3.6.6"
        }
    }
]